body {
  font-family: monospace;
  color: white;
  background-color: black;
}

img {
  height: 250px;
  width: 500px;
  display: none;
  margin-right: 20px;
}

.show {
  display: block;
}

#preference {
  top: 50%;
}

.container {
  margin-left: 1%;
}
